body {
  margin: 0;
  padding: 0;
  color: #444;
  line-height: 150%;
  font-family: 'Kosugi', sans-serif;
}
h1,h2,h3,h4,h5,h6,p{
  margin: 0;
  padding: 0;
}
/*========================================
  リンク
========================================*/
a{
  text-decoration: none;
  color: #000;
  cursor: pointer;
}
a:hover {
  text-decoration: none;
  opacity: 0.6;
  transition: all 0.8s;
}
/*========================================
  フォント
========================================*/
.num {
  font-family: 'Kosugi', sans-serif;
}
.price {
  display: block;
  font-weight: bold;
  font-family: 'Kosugi', sans-serif;
}
/*トップバナー*/
#top-baner {
  width: 100%;
}

/*========================================
  ヘッダー
========================================*/
#wrap{
  width: 100%;
  overflow: hidden;
  box-shadow: 0 1px 0 0 rgba(32, 33, 36, .28);
}

.header {
  height: 100%;
  padding-right: 20px;
  padding-left: 20px;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 3px 0 rgba(0,0,0,0.05);
  transition: all .4s ease;
}
.header-icon{
  margin-right: 8px;
}
.header-login{
  margin-right: 15px;
}
.hedaer-login a{
  position: relative;
}
.header-login a::after{
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background: #000;
  transition: all 0.3s ease 0s;
  z-index: 100;
}
.header-login a::after:hover{
  width: 100%;
}
.nav-menu{
display: flex;
justify-content: space-between;
align-items: center;
}
header h1 {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header h1 a {
  color: #b6a489;
  text-decoration: none;
}
.sub-title{
  position: absolute;
  top: 63px;
  left: 9%;
}
.sub-title span{
  font-size: 10px;
}

/*========================================
  ナビゲーション
========================================*/
#top-nav {
  position: relative;
  float: right;
  width: 500px;
  height: 90px;
}
nav a {
  padding: 10px 15px;
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  transition: all .8s;  
}
#top-nav ul {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  width: 450px;
  height: 80px;
  list-style: none;
  line-height: 80px;
}
#top-nav ul li {
  float: right;
}
/*========================================
  レイアウト
========================================*/
.site-width {
  margin: 0 auto;
  width: 980px;
}
#main {
  float: left;
  min-height: 600px;
}
.page-1colum #main {
  width: 100%;
}
.page-2colum #main {
  width: 760px;
}
.page-logined #main{
  /* border: 5px solid #f1f1f1; */
  box-sizing: border-box;
}
section h1.title {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
#contents {
  overflow: hidden;
  margin: 20px auto;
}
/* ページタイトル */
.page-title {
  font-size: 36px;
  padding-top: 30px;
  margin-bottom: 50px;
  text-align: center;
}
.panel-body{
  display: inline-block;
}
/*========================================
  サイドバー
========================================*/
#sidebar {
  float: left;
  box-sizing: border-box;
  margin-right: 20px;
  padding: 15px;
  min-height: 600px;
  width: 200px;
  background: #f0efe9;
}
#sidebar .title {
  text-align: left;
  font-size: 14px;
}
.selectbox {
  position: relative;
}
/* #sidebar select {
  padding: 10px;
  width: 100%;
  border-color: #ccc;
  border-radius: 0;
  font-size: 14px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; 
  box-shadow: 0 1px 1px rgba(0,0,0,0.05);
} */
.icn_select:after {
  position: absolute;
  top: 15px;
  right: 10px;
  display: block;
  width: 0;
  height: 0;
  border-top: 10px solid #333;
  border-right: 7px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 7px solid transparent;
  content: "";
}
.page-logined #sidebar{
  /* margin: 0 0 0 20px; */
}
.page-logined #sidebar > a{
  display: block;
  margin-bottom: 15px;
}

/*========================================
  フッター
========================================*/
footer {
  padding: 15px;
  /* width: 100%; */
  background: #333;
  color: #f6f5f5;
  text-align: center;
  font-size: 12px;
}
footer a {
  color: #f6f5f5;
}
/*contact*/

#contact {
  margin-bottom: 150px;
}
/*========================================
  ページネーション
========================================*/
.pagination {
  position: relative;
  overflow: hidden;
}
.pagination-list {
  position: relative;
  left: 50%;
  float: left;
  padding-left: 0;
  list-style: none;
}
.pagination .list-item {
  position: relative;
  left: -50%;
  float: left;
  margin-right: 5px;
  color: #000;
  padding: 10px 10px;
  background: none;
}
.pagination .list-item:last-child {
  margin-right: 0;
}
.pagination .list-item a {
  display: block;
  padding: 5px 10px;
  color: black;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}
.pagination .list-item.active a {
  background: #333;
  color: white;
}
.pagination .list-item a:hover {
  background: #333;
  color: white;
}
/*========================================
  検索エリア
========================================*/
.search-title {
  overflow: hidden;
  margin-bottom: 30px;
  padding: 5px 10px;
  height: 40px;
  background: #f0efe9;
  line-height: 40px;
}
.search-left {
  float: left;
}
.search-right {
  float: right;
}
.search-title .total-num {
  padding-right: 5px;
  font-weight: bold;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}
/*========================================
  リスト
========================================*/
.list{
  margin-bottom: 20px;
}
.list > .title {
  padding-left: 10px;
  margin-bottom: 15px;
  border-left: 6px solid #000;
}
.panel-list {
  overflow: hidden;
  margin-right: -15px;
}
.panel-list > .panel {
  float: left;
  box-sizing: border-box;
  margin-bottom: 15px;
  padding-right: 15px;
  min-height: 185px;
  width: 25%;
  color: #333;
  text-decoration: none;
  line-height: 1.2em;
  transition: all 0.8s;
}
.panel-head{
  overflow: hidden;
}
.panel-list > .panel img {
  width: 100%;
}
.panel-list > .panel .panel-title {
  margin: 0;
}

/*========================================
/* テーブルリスト
========================================*/

.list-table > table {
  width: 100%;
  border-spacing: 0 5px;
}

.list-table th,
.list-table td {
  padding: 5px;
}

.list-table > .table > tbody td {
  border-right: none;
  background: #f0efe9;
}
/*========================================
  ボタン
========================================*/
.btn {
  padding: 15px 20px;
  text-decoration: none;
}
.btn:hover {
  text-decoration: none;
}
.btn.btn-primary {
  background: #f0efe9;
  color: #000;
  transition: all .8s;
}
.btn.btn-mid {
  max-width: 150px;
}
/* .form{
  text-align: center;
} */
.submit-btn{
  font-size: 14px;
  margin: 15px 0;
  padding: 15px 30px;
  width: 100%;
  color: #333;
  border: 3px solid #333;
  transition: all .3s ease;
}
.submit-btn:hover{
  cursor: pointer;
  background: #333;
  color: #fff;
  border: 3px solid #333;
  transition: all .3s ease;
}
/*========================================
  共通スタイル
========================================*/
.u-radius{
  border-radius: 8px;
}
.u-under-margin{
  margin-bottom: 20px;
}
.scroll-top{
  display: block;
  color: #fff;
  line-height: 66px;
  width: 60px;
  height: 60px;
  text-align: center;
  position: fixed;
  bottom: 20px;
  z-index: 1000;
  right: -60px;
  transition: all .4s ease;
  background-color: #000;
  border-radius: 50%;
}
.scroll-top:hover{
  cursor: pointer;
  background-color: #444;
}
/*========================================
  スクロールスタイル
========================================*/
.js-scroll{
  height: 70px;
  box-shadow: 0 3px 0 rgba(0,0,0,0.05);
  right:20px;
  transition: all .4s ease;
}

/*========================================
  フォーム
========================================*/
label{
  display: block;
}
label.err input,
label.err select{
  background: #f7dcd9;
}
.textCount-Error{
  margin-left: 10px;
  color: #fe8a8b;
}
.label-require{
  margin-left: 5px;
  background: #fe8a8b;
  font-size: 14px;
  padding: 3px 5px;
  color: white;
  vertical-align: bottom;
}
input[type="text"],
input[type="number"],
input[type="password"],
.form select,
textarea {
  margin-bottom: 15px;
  font-size: 18px;
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  height: 60px;
  border: none;
  display: block;
  border-radius: 6px;
}
input[type="checkbox"]{
  width: 18px;
  height: 18px;
  vertical-align: middle;
  /* background: #f6f5f5; */
}
input[type="number"] {
  width: 100px;
  text-align: left;
}
.category-form{
  padding: 10px;
  width: 100%;
  border-color: #ccc;
  border-radius: 0;
  font-size: 14px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; /* プラットフォームにおける標準的なUIの外観を削除  */
  box-shadow: 0 1px 1px rgba(0,0,0,0.05);
  cursor: pointer;
}
/* input[type="submit"] {
  font-size: 14px;
  margin: 15px 0;
  padding: 15px 30px;
  width: 100%;
  color: #333;
  border: 3px solid #333;
  transition: all .3s ease;
}
select:hover,
input[type="submit"]:hover {
  cursor: pointer;
  background: #333;
  color: #fff;
  border: 3px solid #333;
  transition: all .3s ease;
} */
.form-container {
  margin: 0 auto;
  width: 80%;
}
.page-1colum .form-container{
  margin: 80px auto;
}
.form {
  margin: 0 auto;
  padding: 30px;
  width: 400px;
  /* border: 5px solid #f1f1f1; */
  background: #f1f1f1;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  border-radius: 6px;
}
.prof-form-wrapp{
  width: 80%;
}
.prof-form-width{
  width: 60%;
}
.page-logined .form{
  border: none;
}
.form .title {
  margin-bottom: 40px;
  text-align: center;
}
.form > .area-msg{
  padding: 0 0 15px 0;
  color: red;
}
.form .btn-container {
  overflow: hidden;
}
.form .btn {
  float: right;
}
.area-drop{
  margin-bottom: 15px;
  width: 100%;
  height: 140px;
  background: #f6f5f4;
  color: #ccc;
  text-align: center;
  line-height: 150px;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
}
.form .input-file{
  opacity:0;
  width:100%;
  height:140px;
  position:absolute;
  top:0;
  left:0;
  z-index: 2; /* 必ずz-indexをつけないと登録画像を変更する際にドラッグ＆ドロップできなくなる*/
}
.form .prev-img{
  width:100%;
  height: inherit;
  position:absolute;
  top:0;
  left:0;
}
.form .imgDrop-container{
  width: 33.333%;
  float: left;
  padding: 5px;
  box-sizing: border-box;
}
.form .counter-text{
  text-align: right;
}
.form-label{
  display: inline-block;
  margin-bottom: 10px;
}

/*================================
/* フォームグループ
=================================*/
.form-group{
  overflow: hidden;
  position: relative;
}
.form-group > input{
  float: left;
}
.form-group > .option{
  float: left;
  position: relative;
  top: 40px;
  display: block;
  padding-left: 10px;
}
/*========================================
  その他
========================================*/
.msg-slide{
  position: fixed;
  top: 0;
  width:100%;
  height:80px;
  background: rgba(122,206,230,0.6);
  text-align: center;
  font-size:16px;
  line-height: 40px;
}

/*================================
/* 連絡掲示板
=================================*/
.msg-info{
  background: #f6f5f4;
  padding: 15px;
  overflow: hidden;
  margin-bottom: 15px;
}
.msg-info .avatar{
  width: 80px;
  height: 80px;
  border-radius: 40px;
}
.msg-info .avatar-img{
  text-align: center;
  width: 100px;
  float: left;
}
.msg-info .avatar-info{
  float: left;
  padding-left: 15px;
  width: 500px;
}
.msg-info .product-info{
  float: left;
  padding-left: 15px;
  width: 315px;
}
.msg-info .product-info .left,
.msg-info .product-info .right{
  float: left;
}
.msg-info .product-info .right{
  padding-left: 15px;
}
.msg-info .product-info .price{
  display: inline-block;
}
.area-bord{
  height: 500px;
  overflow-y: scroll;
  background: #f6f5f4;
  padding: 15px;
}
.area-send-msg{
  background: #f6f5f4;
  padding: 15px;
  overflow: hidden;
}
.area-send-msg textarea{
  width:100%;
  background: white;
  height: 100px;
  padding: 15px;
}
.area-send-msg .btn-send{
  width: 150px;
  float: right;
  margin-top: 0;
}
.area-bord .msg-cnt{
  width: 80%;
  overflow: hidden;
  margin-bottom: 30px;
}
.area-bord .msg-cnt .avatar{
  width: 5%;
  overflow: hidden;
  float: left;
}
.area-bord .msg-cnt .avatar img{
  width: 40px;
  height: 40px;
  border-radius: 20px;
  float: left;
}
.area-bord .msg-cnt .msg-inrTxt{
  width: 85%;
  float: left;
  border-radius: 5px;
  padding: 10px;
  margin: 0 0 0 25px;
  position: relative;
}
.area-bord .msg-cnt.msg-left .msg-inrTxt{
  background: #f6e2df;
}
.area-bord .msg-cnt.msg-left .msg-inrTxt > .triangle{
  position: absolute;
  left: -20px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 15px solid #f6e2df;
  border-left: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
.area-bord .msg-cnt.msg-right{
  float: right;
}
.area-bord .msg-cnt.msg-right .msg-inrTxt{
  background: #d2eaf0;
  margin: 0 25px 0 0;
}
.area-bord .msg-cnt.msg-right .msg-inrTxt > .triangle{
  position: absolute;
  right: -20px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-left: 15px solid #d2eaf0;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
.area-bord .msg-cnt.msg-right .msg-inrTxt{
  float: right;
}
.area-bord .msg-cnt.msg-right .avatar{
  float: right;
}

/*========================================
  フッター
========================================*/
.sitemap{
  list-style: none;
  margin-bottom: 20px;
  overflow: hidden;
  text-align: center;
}
.footer-item{
  display: inline-block;
  margin-left: 20px;
}

/*========================================
  商品詳細画面用
========================================*/
.badge{
  padding: 5px 10px;
  color: white;
  background: #7acee6;
  margin-right: 10px;
  font-size: 16px;
  vertical-align: middle;
  position: relative;
  top: -4px;
}
#main .title{
  font-size: 28px;
  padding: 10px 0;
}
.product-img-container{
  overflow: hidden;
}
.product-img-container img{
  width: 100%;
}
.product-img-container .img-main{
  width: 750px;
  float: left;
  padding-right: 15px;
  box-sizing: border-box;
}
.product-img-container .img-sub{
  width: 230px;
  float: left;
  background: #f6f5f4;
  padding: 15px;
  box-sizing: border-box;
}
.product-img-container .img-sub:hover{
  cursor: pointer;
}
.product-img-container .img-sub img{
  margin-bottom: 15px;
}
.product-img-container .img-sub img:last-child{
  margin-bottom: 0;
}
.product-detail{
  background: #f6f5f4;
  padding: 15px;
  margin-top: 15px;
  min-height: 150px;
}
.product-buy{
  overflow: hidden;
  margin-top: 15px;
  margin-bottom: 50px;
  height: 50px;
  line-height: 50px;
}
.product-buy .item-left{
  float: left;
}
.product-buy .item-right{
  float: right;
}
.product-buy .price{
  font-size: 32px;
  margin-right: 30px;
}
.product-buy .btn{
  border: none;
  font-size: 18px;
  padding: 10px 30px;
}
.product-buy .btn:hover{
  cursor: pointer;
}
/* お気に入りアイコン */
.icn-like{
  float: right;
  color: #ddd;
}
.icn-like:hover{
  cursor: pointer;
}
.icn-like.active{
  float: right;
  color: #fe8a8b;
}